@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3lhtj7');
  src:  url('fonts/icomoon.eot?3lhtj7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3lhtj7') format('truetype'),
    url('fonts/icomoon.woff?3lhtj7') format('woff'),
    url('fonts/icomoon.svg?3lhtj7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inicio:before {
  content: "\e902";
}
.icon-instituto:before {
  content: "\e903";
}
.icon-proyecto:before {
  content: "\e922";
}
.icon-novedad:before {
  content: "\e9a5";
}
.icon-comunidad:before {
  content: "\e9de";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}

